


@model  List<First_Asp.Net_Project.Models.employee_salary_details>
@{
    ViewBag.Title = "index3";
    int id = 0;
}

<h2>Employee Salary Details</h2>
<style>
    .table {
        color: white;
        background-color: black;
    }
</style>

<a href="@Url.Action("create")">Add a new record</a>

<table class="table" border="1">
    <tr>
        <th>ID</th>
        <th>EMPLOYEE_NAME</th>
        <th>EMPLOYEE_ID</th>
        <th>SALARY PAID</th>
        <th>PAID_DATE</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var data in Model)
    {
<tr>
    <td>@(++id)</td>
    <td>@(data.emmployee.ename)</td>
    <td>@(data.employee_id)</td>
    <td>@(data.salary_paid)</td>
    <td>@(data.paid_date)</td>
    <td><a href="@Url.Action("Edit",new {id = data.id})">Edit</a></td>
    <td><a href="@Url.Action("deletedata",new { id = data.id })">Delete</a></td>

</tr>
    }
</table>