

@model  List<First_Asp.Net_Project.Models.Std_table>
@{
    ViewBag.Title = "anoop";
    int id = 0;
}

<h2>anoop</h2>

<table class="table" border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Phone No</th>
    </tr>
    @foreach (var data in Model)
    {
        <tr>
            <td>@(++id)</td>
            <td>@(data.Sname)</td>
            <td>@(data.Saddress)</td>
            <td>@(data.Sgender)</td>
            <td>@(data.Age)</td>
            <td>@(data.Phone_No)</td>
        </tr>
    }
</table>

