

@model  List<First_Asp.Net_Project.Models.mstd>
@{
    ViewBag.Title = "hahaha";
    int id = 0;
}

<h2>hahaha</h2>

<table class="table" border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Age</th>
        
    </tr>
    @foreach (var data in Model)
    {
        <tr>
            <td>@(++id)</td>
            <td>@(data.mname)</td>
            <td>@(data.maddress)</td>
            <td>@(data.Gender)</td>
            <td>@(data.Age)</td>
           
        </tr>
    }
</table>