

@model  List<First_Asp.Net_Project.Models.emmployee>
@{
    ViewBag.Title = "index";
    int id = 0;
}

<h2>index</h2>
<style>
    .table{
        color:white;
        background-color:black;
    }
</style>

<a href="@Url.Action("Anoops")">Add a new record</a>

<table class="table" border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Edit</th>
    </tr>
    @foreach(var data in Model)
            {
<tr>
    <td>@(++id)</td>
    <td>@(data.ename)</td>
    <td>@(data.eaddress)</td>
    <td>@(data.Contact)</td>
    <td><a href="@Url.Action("edit",new {id = data.eid})">Edit</a></td>
    <td><a href="@Url.Action("deletedata",new {e_id = data.eid})">Delete</a></td>
</tr>
            }
</table>

